/* ManageOrders.css */
.title{
  margin-right: 50%;
}
.manage-orders {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.search-form {
  margin-bottom: 30px;
  padding: 15px 20px; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.search-form input[type="text"] {
  flex: 1; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  font-size: 16px; 
  margin-right: 10px; 
}

.search-form button {
  padding: 10px 15px;
  border: none; 
  background-color: #4CAF50;
  color: white;
  border-radius: 3px;
  font-size: 16px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.search-form button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.orders-list {
  margin-top: 20px;
}

.order {
  border: 1px solid #ddd; 
  border-radius: 6px; 
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order h3 {
  font-size: 16px; 
  margin-bottom: 8px;
  color: #333; 
}

.order p {
  margin-bottom: 4px;
  font-size: 14px; 
  color: #666;
}

.order ul {
  margin-top: 8px; 
  margin-bottom: 8px;
  padding-left: 20px; 
}

.order li {
  margin-bottom: 4px;
  font-size: 14px; 
  color: #666;
}

.order .form-group {
  margin-bottom: 8px;
}

.order .buttons {
  margin-top: 8px;
}

.order button {
  margin-right: 8px;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 4px;
}

.order button:hover {
  background-color: #f0f0f0; 
}