h2{
    direction: rtl;
    font-size: 40;
    font-family: 'Times New Roman', Times, serif;
}

h4{
    margin-left: 600px; 
    font-size: 35;
    font-family: 'Times New Roman', Times, serif;
}

.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    padding: 50px;
    background-color: #E6E8E6;
}

.page-title {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.phone-icon {
    width: 30px; /* Adjust the size as needed */
    height: auto;
    margin-left: 10px;
    direction: rtl;
}

.contact-form-container {
    display: flex;
    background-color: #E6E8E6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(2, 138, 47, 0.343);
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
}

.details-bar-wrapper {
    background: linear-gradient(-90.21deg, rgba(0, 77, 13, 0.902) -5.91%, rgba(125, 125, 125, 0.173) 130.58%);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.text-wrapper {
    text-align: center;
    margin-bottom: 40px;
}

.text-one {
    font-size: 35px;
    color: black;
    font-weight: bold; 
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.text-two {
    font-size: 20px;
    line-height: 1.5;
    color: black;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.contact-email {
    text-align: center;
    margin-bottom: 40px;

}

.contact-section {
    flex: 2;
    padding: 10px;
}
