.product-detail {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #a6a6a6;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .product-detail h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .product-detail img {
    width: 50%;
    max-width: 400px;
    height: auto;
    margin-left: 20px;
  }
  
  .product-detail .details {
    flex: 1;
    text-align: left; /* Align text to the left within the details section */
  }
  
  .product-detail p {
    font-size: 1.2em;
    color: #555;
  }
  
  .product-detail p.price {
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
  }
  
  .product-detail button {
    background-color: #1d1d1e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .product-detail button:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;  }
  