

.aboutPage{
    direction: rtl;
}

h2{
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 7%;
    padding: 0;
    }

.navBar {
    background-color: #4CAF50;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: 50px;
}

#buttons {
    display: flex;
    gap: 10px;
}

.manager-button {
    background-color: #FF6F61; /* Example for different styling */
}

button {
    background-color: #ffffff;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    color: #4CAF50;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: lightgray;
}

.aboutUsBanner {
    background: url('https://infoteknextjs.vercel.app/assets/img/breadcrumb.jpg') no-repeat center center; /* Adjust the path if necessary */
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.bannerContent {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 500px;
    border-radius: 20px;
}

.warehouseSection, .teamSection {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.warehouseSection p, .teamSection p {
    text-align: center;
}

.teamGrid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.teamMember {
    width: 30%;
    text-align: center;
    margin: 10px;
}

.teamMember img {
    width: 70%;
    height: auto;
    border-radius: 60%;
    margin-bottom: 10px;
}

.aboutSection img{
    width: 40%;
    height: 70%;
    border-radius: 0%;
    margin-bottom: 10px;
    margin-left: 0%;
}
