

.aboutPage{
    direction: rtl;
}

.aboutUsBanner {
    background: url('https://infoteknextjs.vercel.app/assets/img/breadcrumb.jpg') no-repeat center center; /* Adjust the path if necessary */
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.bannerContent {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 500px;
    border-radius: 20px;
}

.warehouseSection {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.warehouseSection p {
    text-align: center;
}

.aboutSection img{
    width: 40%;
    height: 70%;
    border-radius: 0%;
    margin-bottom: 10px;
    margin-left: 0%;
}
