.donateBanner {
    background: url('https://infoteknextjs.vercel.app/assets/img/breadcrumb.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #128312;
    text-align: center;
}
.bannerContent {
    background-size: cover;
    background-color: rgba(40, 188, 65, 0.8); /* Dark background with 80% opacity */
    color: #fff; /* White text for better contrast */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bannerContent h1 {
    font-size: 2.5em;
    margin: 0;
}

.bannerContent p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.donateSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.donateContent {
    text-align: center;
    background-color: #064219;
    color: rgb(208, 196, 196);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.donateContent a {
    text-decoration: none;
    color: white;
}

.payboxLogo {
    width: 100px;
    height: auto;
    margin: 20px 0;
}

.donateContent p {
    font-size: 1.2em;
}
